<% include ../partials/header %>

<form action="/employee/<%= employee._id%>?_method=PUT"  method="POST" >
	<div class="container" style="width: 33%;">
		<div class="form-group" >
			<label for="employee[name]" >Name:</label>
			<input class= "form-control" type="text" name="employee[name]" value="<%= employee.name%>">
		</div>
		<div class="form-group" >
			<label for="employee[username]" >User Name:</label>
			<input class= "form-control" type="text" name="employee[username]" value="<%= employee.username%>">
		</div>
		<div class="form-group" >
			<label for="employee[email]" >email:</label>
			<input class= "form-control" type="text" name="employee[email]" value="<%= employee.email%>">
		</div>
		<div class="form-group">
			<label for="employee[dutyType]" >Duty Place:</label>
			<select class="form-control" name="employee[dutyType]">
				<option value="<%=employee.dutyType%>" ><%= employee.dutyType%></option>
				<option value="station" >Station</option>
				<option value="train" >Train</option>
			</select>
		</div>
		<input type="hidden" name="oldDeptName"  value="<%= employee.department.deptName%>" >
		<input type="hidden" name="oldDId"  value="<%= employee.department.id%>" >
		<div class="form-group">
			<label for="deptName" >Department Name:</label>		
			<select class="form-control" name="deptName">
				<option value="<%= employee.department.deptName %>" ><%= employee.department.deptName %></option>
				<% depts.forEach(function(dept){ %>
					<option value="<%=dept.deptName%>" ><%= dept.deptName %></option>
				<% }) %>
			</select>
		</div>
		<div class="form-group">
			<label for="employee[dutyId]" >Train Name (Id) / Station Name (Id):</label>
			<select class="form-control" name="employee[dutyId]">
				<% if(employee.dutyType === "train"){ %>
					<option value="<%=employee.train.trainId%>" >Train id: (<%= employee.train.trainId %>)</option>
				<% } else{ %>
					<option value="<%= employee.station.stationId%>" >Station id: (<%= employee.station.stationId %>)</option>
				<% } %>
				<% trains.forEach(function(train){ %>
					<option value="<%=train.trainId%>" >Train <%=train.trainName%> (<%= train.trainId %>)</option>
				<% }) %>
				<% stations.forEach(function(station){ %>
					<option value="<%= station.stationId%>" >Station <%=station.stationName %> (<%= station.stationId %>)</option>
				<% }) %>
			</select>
		</div>
		<div class="form-group">
			<button class="btn btn-primary form-control">Submit</button>
		</div>
	</div>
</form>

<% include ../partials/footer %>

