<% include ../partials/header %>

<div class="container">
	<div class="jumbotron">
		<h1> Check all trains here</h1>
		<hr>
		<a href="/train/new" class="btn btn-primary">Add a train</a>
		<p>
           <form action="/train" method="GET" class="form-inline">
               <div class="form-group">
                   <input type="text" name="search" placeholder="Train search..." class="form-control">
                   <input type="submit" value="Search" class="btn btn-default">
               </div>
           </form>
       </p>
	</div>
	<div class="row container">
		<div class="col-md-6 well">
	 		<canvas id="pie-chart1" width="800" height="450"></canvas>
	 	</div>
	 	<div class="col-md-6 well">
	 		<canvas id="doughnut-chart2" width="800" height="450"></canvas>
	 	</div>
	 </div>
</div>

<div class="container">
	<div class="row fl_wp">
		<% trains.forEach(function(train){ %>
			<div class="col-xs-12 col-sm-6 col-lg-4">
				<div class="thumbnail">
					<div class="caption">
						<h2> <u><%= train.trainName %></u> </h2>
						<a class="btn btn-primary" href="/train/<%= train._id%>" >Know More</a>
					</div>
				</div>
			</div> 
		<% }) %>
	</div>
</div>

<script type="text/javascript">
	new Chart(document.getElementById("pie-chart1"), {
    type: 'pie',
    data: {
      labels: "<%= tname %>".split(","),
      datasets: [{
        label: "No. of complaints",
        backgroundColor: "<%= color1 %>".split(","),
        data: [<%= noc %>]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'No. Of Complaints In Each Station'
      }
    }
});
</script>

<script type="text/javascript">
	new Chart(document.getElementById("doughnut-chart2"), {
    type: 'doughnut',
    data: {
      labels: "<%= tname %>".split(","),
      datasets: [
        {
          label: "No. of employees",
          backgroundColor: "<%= color1 %>".split(","),
          data: [<%= noe %>]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'No. Of Employees In Each Station'
      }
    }
});
</script>


<% include ../partials/footer %>